name: Node.js Package to npm and gpr

# trigger when a release is created
on:
  release:
    types: [published]
  
permissions: write-all
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - run: npm ci
      - run: npm run lint && npm run build

  update-version:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20.x

    - name: Install dependencies
      run: npm install

    - name: Update version from git tag
      id: update_version
      run: |
        TAG_NAME=${GITHUB_REF#refs/tags/}
        if [[ $TAG_NAME == *"-beta"* ]]; then
          npm version $TAG_NAME --preid rc --no-git-tag-version
        else
          npm version $TAG_NAME --no-git-tag-version
        fi

    - name: Commit and push version update
      run: |
        git config --local user.name "github-actions[bot]"
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git add package.json
        git commit -m "chore(release): update package version to ${{ steps.update_version.outputs.new_version }}"
        git push origin HEAD:master

  publish-npm:
    needs: update-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org/
      - run: npm install
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.PUBLISH_NPM_TOKEN}}

  publish-gpr:
    needs: update-version
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
          scope: '@slxca'
      - run: npm install
      - name: Update package.json name
        run: sed -i '2,2s/authr.js/@slxca\/authr.js/g' package.json
      - run: echo registry=https://npm.pkg.github.com/slxca >> .npmrc
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.PUBLISH_GITHUB_TOKEN}}
