name: Node.js Package to npm and gpr

# trigger when a release is created
on:
  release:
    types: [created]
  workflow_dispatch:
  
permissions: write-all
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - run: npm ci
      - run: npm run lint && npm run build

  update-version:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm ci

      - name: Configure Git
        run: |
          git config --global user.email '${{secrets.GH_EMAIL}}'
          git config --global user.name '${{secrets.GH_USERNAME}}'
          git remote set-url origin https://${{secrets.PUBLISH_GITHUB_TOKEN}}@github.com/${{github.repository}}

      - name: Check if tag exists
        id: check-tag
        run: |
          TAG_NAME=$(node -p "require('./package.json').version")
          if git rev-parse "v$TAG_NAME" >/dev/null 2>&1; then
            echo "Tag v$TAG_NAME already exists."
            echo "TAG_EXISTS=true" >> $GITHUB_ENV
          else
            echo "TAG_EXISTS=false" >> $GITHUB_ENV
          fi

      - name: Handle existing tag
        if: env.TAG_EXISTS == 'true'
        run: |
          echo "Updating existing tag v$TAG_NAME"
          git tag -d "v$TAG_NAME"
          git push origin :refs/tags/v$TAG_NAME

      - name: Create new version and tag
        run: npm version from-git

      - name: Push changes
        run: git push origin HEAD:master

  publish-npm:
    needs: update-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org/
      - run: npm install
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.PUBLISH_NPM_TOKEN}}

  publish-gpr:
    needs: update-version
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
          scope: '@slxca'
      - run: npm install
      - name: Update package.json name
        run: sed -i '2,2s/authr.js/@slxca\/authr.js/g' package.json
      - run: echo registry=https://npm.pkg.github.com/slxca >> .npmrc
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.PUBLISH_GITHUB_TOKEN}}
